:root {
    --branding-color: #3a3a3a;
    --secondary-color: #fff7ee;
    --heading-font-family: 'Playfair Display', serif;
    --secondary-font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: var(--branding-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: var(--secondary-font-family);
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.hero {
    text-align: center;
    padding: 250px 20px;
}

h1 {
    color: var(--branding-color);
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 10px;
}

p {
    font-family: 'poppins', sans-serif;
    color: var(--branding-color);
}

.container {
    margin-top: 60px;
}